.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container input,
.register-container select,
.register-container button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-container button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.register-container button:hover {
  background-color: #0056b3;
}

.tile {
  /* other styles */
  position: relative; /* make sure the tile is positioned */
}

.edit-icon {
  /* other styles */
  position: absolute; /* position the icon absolutely within the tile */
  top: 0; /* adjust as needed */
  right: 0; /* adjust as needed */
  display: none; /* hide the icon by default */
}

.tile:hover .edit-icon {
  display: block; /* show the icon when the user hovers over the tile */
}

