.tile {
  position: relative;
  /* make sure the tile is positioned */
}

.edit-icon {
  position: absolute;
  /* position the icon absolutely within the tile */
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  /* hide the icon by default and make it non-interactive */
}

.tile:hover .edit-icon {
  opacity: 1;
  pointer-events: auto;
  /* show the icon and make it interactive when the user hovers over the tile */
}

.skill-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.label-right {
  text-align: right;
  flex: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container input,
.register-container select,
.register-container button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-container button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.register-container button:hover {
  background-color: #0056b3;
}

