.sticky-section-container {
  height: calc(100vh - 55px);
}

.sticky-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: white; /* Ensure the background color matches your design */
  z-index: 1000; /* Ensure it stays above other content */
}

.sticky-table-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 60px; /* Adjust this value based on the height of the sticky header */
  background-color: white; /* Ensure the background color matches your design */
  z-index: 999; /* Ensure it stays above other content */
}