.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container input,
.login-container select,
.login-container button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.login-container button:hover {
  background-color: #0056b3;
}
