<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }} - Adventures in Neverwinter</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/quill/quill.snow.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed top">
      <a class="navbar-brand" href="/wiki/">Adventures in Neverwinter</a>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </form>
      <script>
        const searchInput = document.getElementById('searchInput');
        const resultsDiv = document.getElementById('searchResults');

        searchInput.addEventListener('input', function() {
        fetch(`/search?q=${searchInput.value}`)
            .then(response => response.json())
            .then(data => {
                resultsDiv.innerHTML = '';
                data.forEach(title => {
                    const resultItem = document.createElement('div');
                    resultItem.innerText = title;
                    resultsDiv.appendChild(resultItem);
                });
            });
        });
      </script>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="createNewPageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create New Page
        </button>
        <div class="dropdown-menu" aria-labelledby="createNewPageDropdown">
            <a class="dropdown-item" href="/create/business">Business Template</a>
            <a class="dropdown-item" href="/create/city">City Template</a>
            <a class="dropdown-item" href="/create/npc">NPC Template</a>
            <a class="dropdown-item" href="/create/blank">Blank Page</a>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/quill/quill.js"></script>
  </body>
</html>
