[Unit]
Description=Gunicorn (gevent-websocket) for Kachhapa (API + Socket.IO)
After=network.target

[Service]
Type=simple
User=ijohnson
Group=www-data
WorkingDirectory=/home/ijohnson/Kachhapa/Flask

Environment="DATABASE_URL=postgresql://admin:admin@localhost:5432/db"

# Make sure the socket ends up group-readable/writeable
UMask=0007

ExecStartPre=/home/ijohnson/Kachhapa/venv/bin/flask set-all-users-offline

ExecStart=/home/ijohnson/Kachhapa/venv/bin/gunicorn \
  -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -w 4 \
  --bind unix:/home/ijohnson/Kachhapa/Flask/myapp.sock \
  --umask 007 \
  app:app

Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target