<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} - {{ campaign_name }}</title>
    <style>
      @font-face {
        font-family: 'ElvishFont';
        src: url('/static/fonts/OldeEspruar.woff') format('woff');
      }
    
      @font-face {
        font-family: 'DwarvishFont';
        src: url('/static/fonts/Dethek.woff') format('woff');
      }
    
      /* General styles */
      .spoiler {
        background-color: #000;
        color: #000;
        cursor: pointer;
        padding: 5px;
        border: 1px solid #ccc;
      }
    
      .spoiler.revealed {
        background-color: #fff;
        color: #000;
      }
    
      /* Reveal spoiler text on hover */
      .spoiler:hover {
        color: #fff;
        background-color: #000;
      }
    
      /* Font styles */
      .elvish-text {
        font-family: 'ElvishFont', sans-serif;
      }
    
      .dwarvish-text {
        font-family: 'DwarvishFont', sans-serif;
      }
    </style>

    <link rel="icon" href="/turtle.svg" />
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/jquery.autocomplete.css" />
    <link rel="stylesheet" href="/static/jodit.min.css" />
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/jquery.autocomplete.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/jodit.min.js"></script>

    <!-- Retrieve the header data from localStorage -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Retrieve headers from local storage
        const token = localStorage.getItem('token');
        const userID = localStorage.getItem('userID');
        const characterName = localStorage.getItem('characterName');
        console.log("token:", token);
        console.log("userID:", userID);
        // console.log("characterName:", characterName);

        if (token && userID) {
          console.log('Headers found in local storage:', token, userID);

          // Store them in global variables
          window.authInfo = {
            token: token,
            userID: userID,
          };
        }
        if (characterName) {
          console.log('Character name found in local storage:', characterName);
          window.authInfo.characterName = characterName;
        } else {
          console.log('No header info found in local storage');
        }
      });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="padding-left:20px;">
      <a class="navbar-brand" href="Main%20Page">{{ campaign_name }}</a>
      <div class="dropdown">
        <input class="form-control mr-sm-2 dropdown-toggle" type="text" id="search" placeholder="Search..."
          aria-label="Search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-menu" id="searchResults" style="display: none;"></div>
      </div>
      <!-- <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="createNewPageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create New Page
        </button>
        <div class="dropdown-menu" aria-labelledby="createNewPageDropdown">
            <a class="dropdown-item" href="/create/business">Business Template</a>
            <a class="dropdown-item" href="/create/city">City Template</a>
            <a class="dropdown-item" href="/create/npc">NPC Template</a>
            <a class="dropdown-item" href="/create/blank">Blank Page</a>
        </div>
      </div> -->
    </nav>

    <div class="container mt-4">
      {% block content %}{% endblock %}
    </div>

    <!-- Autocomplete for search bar -->
    <script>
      $(document).ready(function () {
        // Hide the searchResults dropdown initially
        $('#searchResults').hide();
    
        $('#search').autocomplete({
          minLength: 2,
          source: function (request, response) {
            var userInput = $('#search').val();
            console.log("user input:", userInput);
    
            // Check if userInput is not an empty string
            if (userInput.trim() !== "") {
              $.ajax({
                url: '/wiki/{{ campaign_name | urlencode }}/search',
                data: { q: userInput },
                success: function (data) {
                  console.log("response:", data); // Log the received data
                  var dropdown = $('#searchResults');
                  dropdown.empty(); // Clear previous results
                  if (Array.isArray(data) && data.length > 0) {
                    data.forEach(function (item) {
                      dropdown.append('<a class="dropdown-item" href="' + item.title + '">' + item.title + '</a>');
                    });
                    dropdown.show();
                  } else if (data.message && data.create_option) {
                    dropdown.append('<div class="dropdown-item">No results found. <a href="/wiki/{{ campaign_name | urlencode }}/create/' + encodeURIComponent(userInput) + '">Create new page</a></div>');
                    dropdown.show();
                  } else {
                    console.error("Unexpected response format or empty data:", data);
                    dropdown.hide();
                  }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  console.error("AJAX request failed:", textStatus, errorThrown); // Log any errors
                  $('#searchResults').hide();
                  response([]);
                }
              });
            } else {
              console.log("Empty user input, skipping AJAX request.");
              $('#searchResults').hide();
              response([]);
            }
          }
        });
      });
    </script>

    <!-- Handles links in the webpages -->
    <script>
      $(document).ready(function () {
        // Event delegation for all 'a' elements, including dynamically created ones
        $(document).on('click', 'a', function (event) {
          var href = $(this).attr('href');
          console.log("Clicked on:", href);
          if (href && !href.startsWith('http') && !href.includes('{{ campaign_name }}')) {
            event.preventDefault();
            var modifiedHref = '/wiki/{{ campaign_name }}/' + href;
            window.location.href = modifiedHref;
            console.log("Redirecting to:", modifiedHref);
          }
        });
      });
    </script>
  </body>
</html>