{% extends "base.html" %}
{% block content %}
  <textarea id="editor">{{ content }}</textarea>
  <button id="saveButton" class="btn btn-primary mt-2">Save</button>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var editor = new Jodit('#editor', {
        "buttons": "bold,strikethrough,underline,italic,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,|,image,table,link,|,align,undo,redo,\n,hr,fullsize,print,about",
        "extraButtons": [
          {
            name: 'elvish',
            iconURL: './elvish-icon.png',
            exec: function (editor) {
              var selectedText = editor.s.sel.toString();
              editor.s.insertHTML('<span class="elvish-text">' + selectedText + '</span>');
            },
            tooltip: 'Elvish'
          }
        ]
      });

      // save the updated content when the save button is clicked
      document.getElementById("saveButton").addEventListener("click", function() {
        var content = editor.value;
        console.log("Saving content:", content);

        axios.post('{{ request.path }}', 'content=' + encodeURIComponent(content), {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          }
        })
        .then(response => {
          if (response.data.success) {
            alert("Saved successfully");
            window.location.href = window.location.pathname.replace('/edit', '');  // Go back to the read-only page after saving
          } else {
            alert("Error saving");
          }
        })
        .catch(error => {
          console.error("Axios error:", error);
          alert("Error saving");
        });
      });
    });
  </script>
{% endblock %}